<footer class="footer" >
	<div class="container text-center" >
		<ul id="footer_logos">
			<li id="brand_bar_HI">
				<a class="footer_logo" href="http://GW-HI/en/index.html" title="Hilton Hotels" ></a>
			</li>
			<li id="brand_bar_WA">
				<a class="footer_logo" href="http://GW-WA/en/index.html" title="Click to view Waldorf Astoria Hotels &amp; Resorts" ></a>
			</li>
			<li id="brand_bar_CH">
				<a class="footer_logo" href="http://GW-CH/en/index.html" title="Click to view Conrad Hotels &amp; Resorts&tm;" ></a>
			</li>
			<li id="brand_bar_PY">
				<a class="footer_logo" href="http://GW-PY/en/index.html" title="Canopy by Hilton" ></a>
			</li>
			<li id="brand_bar_QQ">
				<a class="footer_logo" href="http://GW-QQ/en/index.html" title="Curio Collection" ></a>
			</li>
			<li id="brand_bar_DT">
				<a class="footer_logo" href="http://GW-DT/en/index.html" title="Click to view DoubleTree By Hilton&tm;" ></a>
			</li>
			<li id="brand_bar_ES">
				<a class="footer_logo" href="http://GW-ES/en/index.html" title="Embassy Suites by Hilton" ></a>
			</li>
			<li id="brand_bar_GI">
				<a class="footer_logo" href="http://GW-GI/en/index.html" title="Click to view Hilton Garden Inn&reg;" ></a>
			</li>
			<li id="brand_bar_HP">
				<a class="footer_logo" href="http://GW-HP/en/index.html" title="Hampton by Hilton" ></a>
			</li>
			<li id="brand_bar_RU">
				<a class="footer_logo" href="http://www.trubyhilton.com" title="Tru by Hilton" ></a>
			</li>
			<li id="brand_bar_HW">
				<a class="footer_logo" href="http://GW-HW/en/index.html" title="Click to view Homewood Suites" ></a>
			</li>
			<li id="brand_bar_HT">
				<a class="footer_logo" href="http://GW-HT/en/index.html" title="Click to view Home2 Suites By Hilton" ></a>
			</li>
			<li id="brand_bar_HV">
				<a class="footer_logo" href="http://www.hiltongrandvacations.com" title="Click to view Hilton Grand Vacations&reg;s" ></a>
			</li>
			<li id="brand_bar_HH">
				<a class="footer_logo" href="http://GW-HH/en/index.html" title="Hilton HHonors" ></a>
			</li>
		</ul>
	</div>
	<hr />
	<div>
		Copyright &copy; 2016.  All rights reserved.
	</div>
</footer>