<header class="navbar navbar-static-top" >
	<div class="container" >
		<nav>
			<ul class="nav navbar-nav" >
				<li><a href="https://GW-ES/en/es/reservation/find/index.htm" >My Reservations</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right" >
				<li><a href="https://secure3.hilton.com/en/hh/customer/login/index.htm" >Sign In</a></li>
				<li><a href="https://secure3.hilton.com/en/hh/customer/join/joinHHonors.htm" >Join</a></li>
				<li><a href="http://hhonors3.hilton.com/en/index.html" ><img src="/images/logo_brand_dock_HH.png" /></a></li>
			</ul>
		</nav>
	</div>
</header>
<div class="container" >
	<div class="col-md-8" >
		<img src="/images/hdr_logo.gif" />
	</div>
	
	<div class="col-md-4" >
		<div class="input-group" style="margin-top: 34px;">
			<input type="text" class="form-control" placeholder="Search" />
			<span class="input-group-btn" >
				<button type="submit" class="btn btn-default" >
					<i class="fa fa-arrow-circle-right" style="color: green;" ></i>
				</button>
			</span>
		</div>
	</div>
</div>
<br />